[Unit]
Description=iptables firewall service
After=network.target

[Service]
Type=oneshot
RemainAfterExit=true
Environment="MYIP=X.X.X.X"
ExecStart=/usr/local/bin/firewall.sh start
ExecStop=/usr/local/bin/firewall.sh stop

[Install]
WantedBy=multi-user.target